/* for fonts */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

                     /* shared style */
.display-flex{
    display: flex;
}
.text-dark1{
    color: #131313;
} 
.text-dark3{
    color: #727272;
} 
.text-dark2{
    color: #424242;
}
                           /* nav bar style */
.header{
    background-color: rgb(255, 244, 231);
}
.navbar{
justify-content: space-between;
align-items: center;
}
.navbar h2{
    font-size: 3rem;
    font-weight:bold;
}

.nav-item{
    list-style: none;
    margin-right: 40px;
    font-size: 18px;
}
.nav-link{
    font-weight: 500;
}
.navbar,.banner{
    max-width:1440px;
    margin: 0 auto;
}

/* banner part */
.banner-info{
     max-width: 860px;
     margin: 0px auto;
     text-align: center;
     margin-bottom: 50px;

}
.banner-info h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn-primary{
    font-size: 1.25rem;
    color: white;
    background-color: #FF900E;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 10px;
    border: 1px solid #FF900E;
    
}
.banner-img{
    width: 100%;
}
/* main section  */

main{
    max-width: 1440px;
    margin: 0px auto;
}
.teams{
    align-items: center;
    margin-top: 85px;
    gap: 100px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-title{
    font-size: 2.8rem;
    
}
.title1{
    color: black;

}
.title2{
    color:#FF900E ;
}

/* Some Facts section  */

.fact-title{
    font-size: 2.8rem;
    font-weight: bold;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    margin-bottom: 150px;
}


.fact-card{
    border: 2px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}
.fact-h{
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fact-p{
    font-size: 20px;
    font-weight: 700;
    margin: 0px;

}
/* sponsor section style  */

.sponsor{
    text-align: center;
}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: bold;

}
.sponsor-com{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-com img{
    filter: grayscale(100%);
}





/* responsive media query */
@media screen and (max-width:576px) {
    .navbar,.nav-links{
        flex-direction: column;
    }
    .nav-links{
        gap: 20px;
    
    }
    .teams{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-description{
       text-align: center;
    }

.somefacts{
    text-align: center;
}

    .facts-container{
    display: grid;
    grid-template-columns:1fr;
    margin-top: 50px;
    margin-bottom: 100px;
   justify-items: center;
}
.fact-card{
    margin-bottom: 10px;
}
.sponsor-com{
    grid-template-columns:repeat(1, 1fr);
    gap: 20px;
}



}

              /* For medium size evice */
@media screen  and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .team-description{
        text-align: center;
    }
    .facts-container{
    display: grid;
    grid-template-columns:1fr;
    gap: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-items: center;
    }
    .fact-card{
    margin-bottom: 20px;
    }
    .somefacts{
    text-align: center;
}
.sponsor-com{
    grid-template-columns:repeat(1, 1fr);
    gap: 20px;
}

}